{% extends "base.html" %}

{% load static %}

{% block content %}

<!-- Place for the personalized greeting -->
<div class="container my-4">
  <div class="row">
    <div class="col-12 greeting">
      {% if user.is_authenticated %}
      <h1>Hello, thanks for stopping by!</h1>
      <p>Your staple list is in place and waiting for you.</p>
      {% else %}
      <h1>Hello there!</h1>
      <p>
        Do you already have an account? If not, feel free to click the registration button in the header.
      </p>
      {% endif %}
    </div>
  </div>
</div>

<!-- Main Home Page Content -->
<main>
  <!-- Bootstrap grid layout -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-4">
        <img
        class="symbol_icon"  
        src="{% static 'images/shopping_list_icon.png' %}"
        alt="Shopping List Icon"
        />
      </div>

      <div id="welcome_text" class="col-8">
        <h1>Here's your new Smart Prep Shopping List</h1>
        <p>
          mart Prep helps you organize and manage your essential shopping list with ease.<br />
          Key features include creating, editing, and saving your favorite staples.<br />
          By keeping track of your go-to essentials, you ensure that nothing 
          important is forgotten when you head to the store.<br />
          Having a reliable staples list prevents last-minute trips and helps 
          you plan ahead for the week, reducing stress and saving time.<br />
          With Smart Prep, you can stay in control of your shopping and always 
          have what you need when you need it.<br />
          Experience a smarter way to stay prepared. 😊
        </p>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
