{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!-- User's Personal Staples List -->
 <h2>My Staples List</h2>
 {% if staples %}
    <ul>
        {% for item in staples%}
            <li>{{ item.name }} {{ item.quantity }}</li>
        {% endfor %}
    </ul>
 {% else %}
    <p>You have no items yet in your staples list.</p>
 {% endif %}

<!-- Add Staple Item -->
<div class="col-md-4 card mb-4 mt-3">
<div class="card-body">
    <h2>Add a new Staple Item:</h3>
        <form id="commentForm" method="post"
        style="margin-top: 1.3em;">
        {{ comment_form | crispy }}
        {% csrf_token %}
        <button id="submitButton" type="submit"
            class="btn btn-signup btn-lg">Save Item</button>
        </form>
</div>
</div>

{% endblock content %}
